In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
# Read the dataset
df_histo = pd.read_csv("/home/infres/vonguyen/rai-6green-miniproj/dataset/histo_trafic.csv", sep=";", encoding="latin-1")
df_histo = df_histo.loc[:, ~df_histo.columns.str.match('Unnamed')]  # Remove extra empty columns if present
df_histo

       secteur    site                tstamp  trafic_mbps
0      T70721A  T70721    lundi 18 juin 2018     0.000000
1      T70721B  T70721    lundi 18 juin 2018     1.788239
2      T70721C  T70721    lundi 18 juin 2018     0.000000
3      T70722A  T70722    lundi 18 juin 2018     4.437942
4      T70722B  T70722    lundi 18 juin 2018    10.885752
...        ...     ...                   ...          ...
24481  T78279B  T78279  lundi 1 janvier 2024     2.469312
24482  T78279C  T78279  lundi 1 janvier 2024     3.595369
24483  T78280A  T78280  lundi 1 janvier 2024    10.457688
24484  T78280B  T78280  lundi 1 janvier 2024    15.956833
24485  T78280C  T78280  lundi 1 janvier 2024    27.646777

[24486 rows x 4 columns]

In [4]:
month_map = {
    "janvier": "01", "février": "02", "mars": "03", "avril": "04",
    "mai": "05", "juin": "06", "juillet": "07", "août": "08",
    "septembre": "09", "octobre": "10", "novembre": "11", "décembre": "12"
}

def parse_french_date(french_date):
    # french_date is in format "lundi <day> <month_name> <year>"
    # Remove the weekday ("lundi ") at the beginning
    date_part = french_date.split(" ", 1)[1]  # everything after the first space
    day_str, month_name, year_str = date_part.split(" ")
    # Convert month name to month number and format day to two digits
    month_num = month_map[month_name.lower()]
    return f"{year_str}-{month_num}-{int(day_str):02d}"

In [5]:
df_histo['timestamp'] = df_histo['tstamp'].apply(parse_french_date)
df_histo = df_histo.drop(columns=['tstamp'])  # Drop the original 'tstamp' column
df_histo

       secteur    site  trafic_mbps   timestamp
0      T70721A  T70721     0.000000  2018-06-18
1      T70721B  T70721     1.788239  2018-06-18
2      T70721C  T70721     0.000000  2018-06-18
3      T70722A  T70722     4.437942  2018-06-18
4      T70722B  T70722    10.885752  2018-06-18
...        ...     ...          ...         ...
24481  T78279B  T78279     2.469312  2024-01-01
24482  T78279C  T78279     3.595369  2024-01-01
24483  T78280A  T78280    10.457688  2024-01-01
24484  T78280B  T78280    15.956833  2024-01-01
24485  T78280C  T78280    27.646777  2024-01-01

[24486 rows x 4 columns]

In [7]:
# Load metadata from the Excel file
df_meta = pd.read_excel("/home/infres/vonguyen/rai-6green-miniproj/dataset/secteurs.xlsx", engine='openpyxl')
df_meta = df_meta.loc[:, ~df_meta.columns.str.contains('^Unnamed')]  # Remove extra unnamed columns if present
df_meta

,Site,Secteur,Nb Secteurs,X (lambert 2 étendu),Y (Lambert 2 étendu),Code INSEE,Unité Urbaine,700 MHz,800 MHz,1800 MHz,2100 MHz,2600 MHz,3500 MHz,Trafic Ref fin 2023 Mbps
0,T70730,T70730A,3,332710,2132198,17028,LA ROCHELLE,non,oui,oui,oui,non,non,44.049159
1,T70730,T70730B,3,332710,2132198,17028,LA ROCHELLE,non,oui,oui,oui,non,non,42.148713
2,T70730,T70730C,3,332710,2132198,17028,LA ROCHELLE,non,oui,oui,oui,non,non,20.387741
3,T78259,T78259A,3,334998,2134973,17274,LA ROCHELLE,oui,non,oui,oui,oui,oui,40.493527
4,T78259,T78259B,3,334998,2134973,17274,LA ROCHELLE,oui,non,oui,oui,oui,oui,45.170487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,T70743,T70743B,3,336807,2138015,17142,LA ROCHELLE,non,oui,oui,oui,oui,non,23.475804
82,T70743,T70743C,3,336807,2138015,17142,LA ROCHELLE,non,oui,oui,oui,oui,non,14.271310
83,T78273,T78273A,3,330839,2133352,17300,LA ROCHELLE,oui,oui,oui,oui,oui,oui,21.785697
84,T78273,T78273B,3,330839,2133352,17300,LA ROCHELLE,oui,oui,oui,oui,oui,oui,60.306866
85,T78273,T78273C,3,330839,2133352,17300,LA ROCHELLE,oui,oui,oui,oui,oui,oui,106.270507

In [ ]:
df_merged = pd.merge(df_histo, df_meta, left_on="secteur", right_on="Secteur", how="left")

In [9]:
df_merged

,secteur,site,trafic_mbps,timestamp,Site,Secteur,Nb Secteurs,X (lambert 2 étendu),Y (Lambert 2 étendu),Code INSEE,Unité Urbaine,700 MHz,800 MHz,1800 MHz,2100 MHz,2600 MHz,3500 MHz,Trafic Ref fin 2023 Mbps
0,T70721A,T70721,0.000000,2018-06-18,T70721,T70721A,3,334257,2132312,17028,LA ROCHELLE,non,oui,non,non,non,non,3.751871
1,T70721B,T70721,1.788239,2018-06-18,T70721,T70721B,3,334257,2132312,17028,LA ROCHELLE,non,oui,non,non,non,non,3.623499
2,T70721C,T70721,0.000000,2018-06-18,T70721,T70721C,3,334257,2132312,17028,LA ROCHELLE,non,oui,non,non,non,non,1.596157
3,T70722A,T70722,4.437942,2018-06-18,T70722,T70722A,3,330700,2138920,17200,LA ROCHELLE,oui,oui,oui,oui,oui,oui,11.269002
4,T70722B,T70722,10.885752,2018-06-18,T70722,T70722B,3,330700,2138920,17200,LA ROCHELLE,oui,oui,oui,oui,oui,oui,46.477480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24481,T78279B,T78279,2.469312,2024-01-01,T78279,T78279B,3,326299,2136325,17300,LA ROCHELLE,non,oui,non,non,non,non,2.469312
24482,T78279C,T78279,3.595369,2024-01-01,T78279,T78279C,3,326299,2136325,17300,LA ROCHELLE,non,oui,non,non,non,non,3.595369
24483,T78280A,T78280,10.457688,2024-01-01,T78280,T78280A,3,326663,2134352,17300,LA ROCHELLE,non,oui,oui,non,non,non,10.457688
24484,T78280B,T78280,15.956833,2024-01-01,T78280,T78280B,3,326663,2134352,17300,LA ROCHELLE,non,oui,oui,non,non,non,15.956833
24485,T78280C,T78280,27.646777,2024-01-01,T78280,T78280C,3,326663,2134352,17300,LA ROCHELLE,non,oui,oui,non,non,non,27.646777

In [10]:
cols_to_drop = [
    "site",               # site code (not needed since secteur is unique ID)
    "Site",               # duplicate site info from metadata
    "Secteur",            # duplicate sector identifier from metadata (same as 'secteur')
    "Nb Secteurs",        # not needed
    "X (lambert 2 étendu)",  # location coordinates not needed
    "Y (Lambert 2  étendu)", # location coordinates not needed
    "Code INSEE",         # not needed
    "Unité Urbaine"       # not needed
]
df_merged.drop(columns=cols_to_drop, inplace=True, errors="ignore")

In [11]:
band_columns = ["700 MHz", "800 MHz", "1800 MHz", "2100 MHz", "2600 MHz", "3500 MHz"]
for col in band_columns:
    # Map "oui" to 1, "non" to 0 for each band column
    if col in df_merged.columns:
        df_merged[col] = df_merged[col].map({"oui": 1, "non": 0})
        
rename_map = {
    "secteur": "item_id",
    "trafic_mbps": "target",
    "700 MHz": "band_700",
    "800 MHz": "band_800",
    "1800 MHz": "band_1800",
    "2100 MHz": "band_2100",
    "2600 MHz": "band_2600",
    "3500 MHz": "band_3500",
    "Trafic Ref fin 2023 Mbps": "traffic_ref_2023_mbps"
}
df_final = df_merged.rename(columns=rename_map)

In [12]:
chronos_columns = [
    "item_id", "timestamp", "target",
    "band_700", "band_800", "band_1800", "band_2100", "band_2600", "band_3500",
    "traffic_ref_2023_mbps"
]
df_final = df_final[chronos_columns]

In [ ]:
df_final.sort_values(["item_id", "timestamp"], inplace=True)

df_final.to_csv("chronos_finetune_dataset.csv", index=False)
df_final

,item_id,timestamp,target,band_700,band_800,band_1800,band_2100,band_2600,band_3500,traffic_ref_2023_mbps
1575,T36870A,2018-11-12,0.263481,0,1,1,0,0,0,15.444746
1658,T36870A,2018-11-19,0.066913,0,1,1,0,0,0,15.444746
1741,T36870A,2018-11-26,0.062066,0,1,1,0,0,0,15.444746
1824,T36870A,2018-12-03,0.084320,0,1,1,0,0,0,15.444746
1907,T36870A,2018-12-10,0.047759,0,1,1,0,0,0,15.444746
...,...,...,...,...,...,...,...,...,...,...
24141,T78280C,2023-12-04,42.936103,0,1,1,0,0,0,27.646777
24227,T78280C,2023-12-11,32.225417,0,1,1,0,0,0,27.646777
24313,T78280C,2023-12-18,21.088196,0,1,1,0,0,0,27.646777
24399,T78280C,2023-12-25,17.927540,0,1,1,0,0,0,27.646777
24485,T78280C,2024-01-01,27.646777,0,1,1,0,0,0,27.646777

In [ ]:
import pandas as pd

# prediction_length: Number of final data points of each time series to include in the test.csv file
prediction_length = 8

# Load the original dataset
file_path = '/home/infres/vonguyen/rai-6green-miniproj/dataset/chronos_finetune_dataset.csv'
df = pd.read_csv(file_path)

# Create empty lists to store the train and test data parts
train_parts = []
test_parts = []

# Group data by 'item_id' to process each time series individually
grouped = df.groupby('item_id')

print(f"Start splitting data with prediction_length = {prediction_length}...")

for item_id, group in grouped:
    # Sort by 'timestamp' to ensure correct order
    group = group.sort_values('timestamp').reset_index(drop=True)

    if len(group) > prediction_length:
        train_part = group.iloc[:-prediction_length]
        test_part = group.iloc[-prediction_length:]
        train_parts.append(train_part)
        test_parts.append(test_part)

train_df = pd.concat(train_parts)
test_df = pd.concat(test_parts)

train_df.to_csv('/home/infres/vonguyen/rai-6green-miniproj/dataset/train.csv', index=False)
test_df.to_csv('/home/infres/vonguyen/rai-6green-miniproj/dataset/test.csv', index=False)

print("Data splitting completed.")
print("\nNumber of records:")
print(f"Train: {len(train_df)} records")
print(f"Test: {len(test_df)} records")

Start splitting data with prediction_length = 8...
Data splitting completed.

Number of records:
Train: 23798 records
Test: 688 records